body {
  background-color: black;
  background-image: url(http://www.guoguiyan.com/data/out/5/69254997-amazing-hd-wallpapers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: center;*/
}
.nav-title {
  font-size: 70px;
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
}
.nav-links {
  display: inline-block;
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 48px;
  padding-bottom: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}
p {
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.8);
  color: balck;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}
.font {
  background-color: grey;
  color: black;
  font-family: monospace;
}
<style type="text/css">body, a:hover {cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur116.cur), progress !important;}</style><a href="http://www.cursors-4u.com/cursor/2008/12/17/cool-blue-outer-glow-pointer.html" target="_blank" title="Cool Blue Outer Glow Pointer"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Cool Blue Outer Glow Pointer" style="position:absolute; top: 0px; right: 0px;" /></a>
p {
  	margin-top: 0;
}
a {
  color: black;
  padding: 2px;
}

.col-1 {
   width: 8.33%;
}
.col-2 {
   width: 16.66%;
}
.col-3 {
   width: 20%;
   float: left;
}
.col-4 {
   width: 33.33%;
}
.col-5 {
   width: 41.66%;
}
.col-6 {
   width: 43.8%;
}
.col-7 {
   width: 58.33%;
}
.col-8 {
   width: 66.66%;
}
.col-9 {
   width: 70%;
   float: left;
}
.col-10 {
   width: 83.33%;
}
.col-11 {
   width: 91.66%;
}
.col-12 {
   width: 100%;
}
