body {
  background-image: url(https://static.pexels.com/photos/220444/pexels-photo-220444.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}
.nav-title {
  background-color: rgba(100, 100, 100, 0.5);
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  border-top: solid black;
  font-family: cursive;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 0px;
  margin-right: 5px;
  margin-top: 10px;
  margin-left: 5px;
  text-align: center;
  font-size: 40px;
  color: black;
}
.nav-links {
  width: 19%;
  background-color: rgba(100, 100, 100, 0.5);
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  width: auto;
  font-size: 15px;
  font-family: cursive;
}
.info {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  color: black;
  font-family: cursive;
  width: 51%;
  display: inline-block;
  float: right;
  border-bottom-right-radius: 9px;
  clear: both;
}
.languages-intro {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  font-family: cursive;
  color: black;
  width: 44%;
  display: inline-block;
  float: left;
  border-bottom-left-radius: 9px;
}
.reflection {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  font-family: cursive;
  color: black;
  text-align: center;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.emotional {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  font-family: cursive;
  color: black;
  text-align: center;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.t2-html-css {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  font-family: cursive;
  color: black;
  text-align: center;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.time {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  font-family: cursive;
  color: black;
  text-align: center;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.design-to-web {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  font-family: cursive;
  color: black;
  text-align: center;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.Meditation-Process {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  font-family: cursive;
  color: black;
  text-align: center;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.contacts {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  font-family: cursive;
  color: black;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
a:link {
  font-family: cursive;
  background-color: rgba(100, 100, 100, 0.0);
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
a:visited {
  font-family: cursive;
  background-color: rgba(100, 100, 100, 0.0);
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
a:hover {
  font-family: cursive;
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 9px;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
a:active {
  font-family: cursive;
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 9px;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.sprint-1 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  font-family: cursive;
  color: black;
}
.sprint-2 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  font-family: cursive;
  color: black;
}
.sprint-3 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  font-family: cursive;
  color: black;
}
.sprint-4 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  font-family: cursive;
  color: black;
}
.sprint-5 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  font-family: cursive;
  color: black;
}
.sprint-6 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  font-family: cursive;
  color: black;
}
.sprint-7 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  font-family: cursive;
  color: black;
}
.sprint-8 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  font-family: cursive;
  color: black;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
h1 {
	margin: 50px auto;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,0,0,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: #333;
	font: 700 80px;
}
